.greeting {
    p{
        color: black;
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        font-weight: 900;
        font-family: 'Courier New', Courier, monospace;
    }
}