.item_detail {
    padding: 30px;
    min-height: calc(100vh - 199px);

    .detalle_del_producto {
        display: flex;
        justify-content: space-around;
        border: 2px solid red;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 3px black;
        background-color: #0f0f0f;
        margin: auto;
        position: relative;

        .btn_cerrar {
            position: absolute;
            right: 1px;
            top: 1px;
            color: white;
            background-color: red;
            border: solid 2px rgb(124, 1, 1);
            border-radius: 100%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
            font-weight: 900;
            width: 25px;
            height: 25px;
        }

        .contenedor_de_imagen {
            width: 50%;
            height: 400px;
            text-align: center;
            margin-right: 20px;
            img {
                object-fit: contain;
                height: 100%;
                width: 100%;
                background-color: white;
            }

        }

        .información_del_producto {
            width: 50%;

            .descripción_del_producto {
                color: white;
                text-align: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 16px;
                font-weight: 600;
            }

            .marca_del_producto {
                color: white;
                text-align: left;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 16px;
                font-weight: 600;
            }

            .informacion_de_precios {
                align-items: center;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                .texto_normal {
                    text-align: left;
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                }

                .precio_normal {
                    text-align: right;
                    text-decoration: line-through;
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                }

                .texto_descuento {
                    text-align: left;
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                }

                .porcentaje_de_descuento {
                    text-align: right;
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                }

                .texto_pago_con_transferencia {
                    text-align: left;
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                }

                .precio_transferencia {
                    text-align: right;
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                }

                .texto_otros_medios_de_pago {
                    text-align: left;
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                }

                .precio_otros_medios_de_pago {
                    text-align: right;
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                }
            }

            .informacion_de_stock {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;

                .texto_stock {
                    text-align: left;
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                }

                .cantidad_de_stock {
                    text-align: right;
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                }
            }

            .item_count_container {

                display: flex;
                justify-content: space-between;
                align-items: center;

                .decrement_count_increment_container {

                    .drecrement_button {
                        width: 30px;
                        color: white;
                        background-color: red;
                        border: 2px solid rgb(75, 0, 0);
                        border-radius: 5px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-size: 16px;
                        font-weight: 900;
                    }

                    .count {
                        margin: 0 5px 0 5px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-size: 16px;
                        font-weight: 900;
                        color: white;
                    }

                    .increment_button {
                        width: 30px;
                        color: white;
                        background-color: red;
                        border: 2px solid rgb(75, 0, 0);
                        border-radius: 5px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-size: 16px;
                        font-weight: 900;
                    }
                }

                .reset_and_add_to_card_button_container {
                    display: flex;
                    gap: 20px;

                    .reset_button {
                        color: white;
                        background-color: red;
                        border: 2px solid rgb(75, 0, 0);
                        border-radius: 5px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        width: 5em;
                    }

                    .add_to_card_button {
                        color: white;
                        background-color: red;
                        border: 2px solid rgb(75, 0, 0);
                        border-radius: 5px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        width: 10em;
                    }
                }
            }
        }
    }
}